@import "fonts.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    color: var(--text);
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --primary: #4C63CD;
    --bg: #060D2E;
    --lightBg: #171A36;
    --text: #ecececde;
    --textSecondary: #A2A4AF;
    --textDisabled: #6B6F8C;
    --borderColor: #27283C;
}

/** react-toastify styles  **/
.Toastify__toast--error {
    background-color: #171A36 !important;
    border: 1px solid #27283C;
    color: white;
    border-radius: 10px !important;
    font-weight: normal !important;
    font-size: 18px !important;
    text-align: center !important;
}

@media screen and (max-width: 480px) {
    .Toastify__toast--error {
        border-radius: 10px 10px 0 0 !important;
    }
}

.Toastify__toast--error .Toastify__toast-body {
    width: 100%;
}

textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}
